[buildout]
newest = false
parts = eggs
extensions = gp.vcsdevelop
vcs-extend-develop =
    hg+https://hg.afpy.org/afpy_gestion/#egg=afpy_gestion

[eggs]
recipe = zc.recipe.egg
eggs =
    jinja2
    chut
extra-paths = ${buildout:directory}
entry-points =
    pyash=pyash:pyash
    csv2pyash=csv2pyash:csv2pyash
